<div id="<%= dom_id address %>">
  <p>
    <strong>Line 1:</strong>
    <%= address.line_1 %>
  </p>

  <p>
    <strong>Line 2:</strong>
    <%= address.line_2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state.name %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code.code %>
  </p>

</div>
